HTML CSS JSResult Skip Results Iframe

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;

  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Nunito", sans-serif;
  background-image: url(assets/bg.jpg);
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Staatliches", monospace;
  font-weight: 400;
  font-style: normal;
}

/* MAIN MENU */

main {
  display: flex;

  margin: 100px auto;

  width: 100%;

  max-width: 1200px;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset,
  0 1px 0 0 rgba(255, 255, 255, 0.6) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
  z-index: 10;
}

.primary-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1;
}

.secondary-section {
  width: 300px;
  justify-self: flex-end;
  border-left: 1px solid white;

}

